# Wails 3 default .gitignore
.task
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe


AdbAutoPlayer
*.syso
.vscode
node_modules
debug
*instructions.md
coverage.xml
junit.xml
.coverage
adb-auto-player.exe

# Build Artifacts
build/bin
*.zip
result

# Windows Build Artifacts

# MacOS Build Artifacts
AdbAutoPlayer.app
AdbAutoPlayer_MacOS
AdbAutoPlayer_MacOS.zip
